[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
pygame = "*"
scipy = "*"
profilehooks = "*"
matplotlib = "*"
pygame-menu = "*"

[requires]
python_version = "3.7"
